@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007af3;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  background: #f2f2f2;
  font-family: 'Poppins';
}

.nav {
  background-color: white;
  padding: 1em;
}

.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.nav a span {
  color: var(--primary-color);
}

.nav .nav-appear {
  display: block;
}

.nav nav {
  display: none;
  background-color: #20272e;
  height: 100vh;
  width: 66%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

.nav nav .first-ul {
  margin-top: 7em;
}

.nav nav ul {
  margin: 0;
  padding: 0;
}

.nav nav ul li {
  list-style-type: none;
}

.nav nav ul li a {
  font-weight: unset;
  padding: 0.5em;
  padding-right: 1em;
  text-decoration: none;
  display: block;
  color: white;
  font-size: 1.3em;
  text-align: right;
  cursor: pointer;
}

.nav nav ul li a:hover {
  font-weight: bold;
}

.nav nav img {
  margin-top: 0.5em;
  float: right;
  margin-right: 1em;
  margin-top: 2em;
}

.nav img {
  cursor: pointer;
}

section.hero {
  margin-bottom: 6rem;
}

section.hero .left-col {
  margin-top: 6rem;
  text-align: center;
}

section.hero .left-col p {
  color: grey;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.3em;
}

section.hero .left-col h1 {
  color: black;
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}

section.hero .container {
  text-align: center;
}

section.hero .hero-cta .primary-cta {
  border: none;
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  background-color: var(--primary-color);
  display: inline-block;
}

section.hero .hero-cta .watch-video-cta {
  margin-top: 1rem;
  color: black;
  display: block;
}

section.hero .hero-cta .watch-video-cta img {
  margin-right: 0.8rem;
}

section.hero .hero-img {
  width: 70%;
  margin-top: 2rem;
}

section.features {
  background-color: #20272e;
}

section.features .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  padding-top: 4rem;
  padding-bottom: 4rem;
}

section.features li {
  color: white;
  list-style: none;
  font-size: 1.1rem;
  margin-top: 0.8rem;
  position: relative;
  margin-left: 2rem;
}

section.features li::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url("../images/bullet.svg");
  background-size: contain;
  left: -2em;
}

section.features img {
  display: none;
}

section.testimonial {
  background-color: var(--primary-color);
  color: white;
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
}

section.testimonial .card {
  background: #006bd6;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

section.testimonial img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 5px solid #006bd6;
  margin-top: -4.5em;
}

section.contact {
  padding: 5rem 2rem 5rem 2rem;
}

section.contact .left-col h2 {
  font-weight: bold;
  font-size: 2rem;
}

section.contact .left-col form {
  margin-bottom: 6em;
}

section.contact .left-col form label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}

section.contact .left-col form input,
section.contact .left-col form textarea {
  width: 100%;
  padding: 0.8em;
  border: 1px solid grey;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.3em;
}

section.contact .left-col form button {
  margin-top: 0.8em;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5em;
  padding: 0.8em 2em;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

section.contact .right-col iframe {
  width: 100%;
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .nav img {
    display: none;
  }
  .nav .logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .nav nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    width: 100%;
    margin-left: 2em;
    background: none;
    padding: 0;
    position: unset;
  }
  .nav nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav nav ul li a {
    color: black;
    font-size: 1em;
  }
  .nav nav .first-ul {
    margin: 0;
  }
  .nav nav .first-ul li:first-child {
    font-weight: bold;
  }
  .nav nav .premium {
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    border: 3px solid var(--primary-color);
    margin-top: 0.2em;
    padding: 0.1em 1em;
  }
  .nav nav .premium:hover {
    background-color: var(--primary-color);
    color: white;
  }
  .hero .container .hero-img {
    width: 60%;
  }
}

@media only screen and (min-width: 1080px) {
  section.hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  section.hero .container .hero-img {
    width: 30%;
    padding-right: 4em;
    margin-top: 10em;
  }
  section.hero .container .left-col {
    text-align: left;
    padding-left: 8em;
    padding-right: 8em;
  }
  section.hero .container .left-col .hero-cta .watch-video-cta {
    display: inline-block;
    margin-left: 1em;
  }
  section.features {
    position: relative;
    padding: 8em 8em;
  }
  section.features ul li {
    font-size: 1.3em;
  }
  section.features ul li::before {
    width: 25px;
    height: 25px;
    margin-top: 0.1rem;
  }
  section.features img {
    display: block;
    width: 300px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 28em;
  }
  section.testimonial {
    padding: 10em 4em;
  }
  section.testimonial .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.testimonial .container .card {
    margin: 0em 1em;
  }
  section.contact {
    position: relative;
  }
  section.contact .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.contact .container .left-col {
    padding-left: 2em;
    padding-right: 4em;
  }
  section.contact .container .right-col {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
  }
  section.contact .container .right-col iframe {
    height: 100%;
  }
}

@media only screen and (min-width: 1450px) {
  .nav .container {
    padding-left: 20rem;
    padding-right: 20rem;
  }
  section.hero .container .hero-img {
    width: unset;
  }
  section.testimonial .container {
    padding-left: 20em;
    padding-right: 20em;
  }
  section.features ul {
    padding-left: 20em;
  }
  section.features::before {
    content: '';
    width: 10%;
    height: 20em;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: -4em;
  }
  section.features::after {
    content: '';
    width: 10%;
    height: 20em;
    background: url("../images/dots.svg") no-repeat;
    position: absolute;
    left: 5em;
    top: 2em;
  }
}
/*# sourceMappingURL=main.css.map */